<%= form_for(@poster) do |f| %>
  <% if @poster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poster.errors.count, "error") %> prohibited this poster from being saved:</h2>

      <ul>
      <% @poster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :file %><br />
    <%= f.file_field :file %>  
  </div>
  <br />
  <div class="field">
    <%= f.label :poster %><br />
    <%= f.file_field :poster %>  
  </div>

  <h3>Conference</h3>
  <%= collection_select(:poster, :block_id, @blocks, :id, :name_and_date, {:prompt => false })  %>
  <br />
  <br />
  <div class="field">
    <%= f.label :votes %><br />
    <%= f.number_field :votes, :min=>0, :value =>0 %>
  </div>
  <br /><br />
  <h3>Lecturers</h3>
   <% @lecturers.each do |lecturer| %>
	<div>
		<%= check_box_tag "poster[lecturer_ids][]", lecturer.id, @poster.lecturers.include?(lecturer) %>
		<%= lecturer.name %>
	</div>
   <% end %>
	<br /><br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
