<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @poster.name %>
</p>

<p>
  <b>Description:</b>
  <%= @poster.description %>
</p>

<p>
  <b>File:</b>
  <%= @poster.file %>
</p>

<p>
  <b>Block:</b>
  <%= @poster.block.name %>
</p>


<%= link_to 'Edit', edit_poster_path(@poster) %> |
<%= link_to 'Back', posters_path %>
