<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @participant.email %>
</p>

<p>
  <b>Conference:</b>
  <%= @participant.conference_id %>
</p>


<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
