<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:error] %>
    <div id="Error"><%= flash[:error] %></div>
<% end %>


<div id="content">
		 <div id="main">
 <% if logged_in? %>
	<% user_email = current_user.emails.find_by_email(current_user.email) %>
	<% if !user_email.confirmed %>
	<font face="verdana" color="red"><b>Please verify your email account!!!</b></font><br /><br />
	<% end %>
	
	
	 <div class="box">
     Welcome <%= current_user.title %> <%= current_user.name %>. <%= link_to "Log out", logout_path %><br /><br />
	 <%= image_tag current_user.photo_url(:thumb).to_s, :id => "imageP" %>
	 <br />
     <%= link_to "Edit profile", edit_current_user_path %>
	 <br />
	 <b>Email: </b><%= current_user.email %><br />
	 <b>Organization: </b><%= current_user.organization %><br />
	 <b>Homepage: </b><%= current_user.homepage %><br />
     
	 </div>
	 
	 
	 
	 
	 <% lecturers = Lecturer.find(:all, :conditions => { :user_id => current_user.id }) %>
	 
	 <% eventsArray = [] %>
	 <% postersArray = [] %>
	 <br /><br />
	 <hr />
	 <br />
		 <div class="box">
			 <h2>Lecturers Associated</h2>
			 <% lecturers.each do |lecturer| %>
				<ul>
				<li><%= link_to lecturer.name, :controller => :lecturers, :action=> :thelecturer, :id=> lecturer.id %></li>
				</ul>
				<% eventsArray = eventsArray + lecturer.events %>
				<% postersArray = postersArray + lecturer.posters %>
			 <% end %>
		 </div>
		 <br />
		 <br />
		 <br />
		 <div class="box">
		 <h2>Events Associated</h2>
		 <br />
		 <% eventsArray.uniq{|x| x.id}.each do |event| %>
			<b><%= event.name %></b><br />
			<table>
			<tr>
			<td>
			<b>Conference:</b>
			<small><%= event.block.conference.name %></small><br />
			<b>Session:</b>
			<small><%= event.block.name %></small><br />
			<b>Time:</b>
			<small><%= event.block.begin.strftime("%d - %B %Y at %k:%M") %></small><br />
			</td>
			</tr>
			</table><br /><br />
		 <% end %>
		 </div>
		 <br />
		 <br />
		 <br />
		 <div class="box">
		 <h2>Posters Associated</h2>
		 <br />
		 <% postersArray.uniq{|x| x.id}.each do |poster| %>
			<b><%= poster.name %></b><br />
			<%= link_to "Edit Poster", :controller => :posters, :action=> :theposter, :id=> poster.id %>
			<table>
			<tr>
			<td>
			<b>Conference:</b>
			<small><%= poster.block.conference.name %></small><br />
			<b>Session:</b>
			<small><%= poster.block.name %></small><br />
			<b>Time:</b>
			<small><%= poster.block.begin.strftime("%d - %B %Y at %k:%M") %></small><br />
			</td>
			</tr>
			</table><br /><br />
		 <% end %>
		 </div>
		 <br />
		 <br />
		 
		 <div class="box">
		 <h2>Contacts</h2>
			<ul>
				<% for user in current_user.inverse_friends %>
				<li><%=h user.name %></li>
				<% end %>
			</ul>
			<br />
			<h1>Requests from</h1>
			<ul>
				<% current_user.requests.each do |request| %>
				<% requester = User.find(request.requester_id)  %>
				<li><%= requester.name %> - <%= link_to "Accept", friendships_path(:friend_id => requester), :method => :post %>
				| <%= link_to "Reject", request, :method => :delete %></li><br />
				<% end %>
			</ul>
		 </div>
		 <br />
		 <br />
	   <% else %>
		 <%= link_to "Sign up", signup_path %> or
		 <%= link_to "log in", login_path %>.
	   <% end %>
	  </div>
  </div>