<% title "All users" %>

<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>
<br /><br />
<% if !@user_email.confirmed %>
	<font face="verdana" color="red"><b>Please verify your email account!!!</b></font><br /><br />
<% end %>
<%= current_user.email%>
</br />
<%= link_to "Log out", logout_path %>
<br /></br />
<table>
  <tr>
	<th>title</th>
    <th>Name</th>
    <th>Email</th>
	<th>organization</th>
	<th>homepage</th>
	<th>photo</th>
    <th>ID</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.title %></td>
    <td><%= user.name %></td>
	<td><%= user.email %></td>
	<td><%= user.organization %></td>
	<td><%= user.homepage %></td>
	<td><%= image_tag user.photo_url(:thumb).to_s %> </td>
	<td><%= user.id %> </td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<td><%= link_to "Request", requests_path(:user_id=>user.id), :method => :post %></td>
  </tr>
<% end %>
</table>