<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>

<% if flash[:error] %>
    <div id="Error"><%= flash[:error] %></div>
<% end %>

 <% if logged_in? %>
     Welcome <%= current_user.email %>.<br />
	 <%= image_tag current_user.photo_url(:thumb).to_s %>
	 <br />
     <%= link_to "Edit profile", edit_current_user_path %> or
     <%= link_to "Log out", logout_path %>
	 
	 <% lecturers = Lecturer.find(:all, :conditions => { :user_id => current_user.id }) %>
	 
	 <% eventsArray = [] %>
	 <% postersArray = [] %>
	 <div id="content">
		 <div id="main">
		 <div class="box">
			 <h2>Lecturers Associated</h2>
			 <% lecturers.each do |lecturer| %>
				<ul>
				<li><%= lecturer.name %></li>
				</ul>
				<% eventsArray = eventsArray + lecturer.events %>
				<% postersArray = postersArray + lecturer.posters %>
			 <% end %>
		 </div>
		 <br />
		 <br />
		 <br />
		 <div class="box">
		 <h2>Events Associated</h2>
		 <% eventsArray.uniq{|x| x.id}.each do |event| %>
			<b><%= event.name %></b><br />
			<table>
			<tr>
			<td>
			<b>Conference:</b>
			<small><%= event.block.conference.name %></small><br />
			<b>Session:</b>
			<small><%= event.block.name %></small><br />
			<b>Time:</b>
			<small><%= event.block.begin.strftime("%d - %B %Y at %k:%M") %></small><br />
			</td>
			</tr>
			</table><br /><br />
		 <% end %>
		 </div>
		 <br />
		 <br />
		 <br />
		 <div class="box">
		 <h2>Posters Associated</h2>
		 <% postersArray.uniq{|x| x.id}.each do |poster| %>
			<b><%= poster.name %></b><br />
			<%= link_to "Edit Poster", :controller => :posters, :action=> :theposter, :id=> poster.id %>
			<table>
			<tr>
			<td>
			<b>Conference:</b>
			<small><%= poster.block.conference.name %></small><br />
			<b>Session:</b>
			<small><%= poster.block.name %></small><br />
			<b>Time:</b>
			<small><%= poster.block.begin.strftime("%d - %B %Y at %k:%M") %></small><br />
			</td>
			</tr>
			</table><br /><br />
		 <% end %>
		 </div>
		 <br />
		 <br />
	   <% else %>
		 <%= link_to "Sign up", signup_path %> or
		 <%= link_to "log in", login_path %>.
	   <% end %>
	   
	  </div>
  </div>