<h1>Listing conferences</h1>
<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>


<%= link_to 'New Conference', new_conference_path %><br />


<table>
  <tr>
    <th>Name</th>
    <th>Begin</th>
    <th>End</th>
    <th>Location</th>
    <th>Logo</th>
	<th>ID</th>
	<th>Users Associated</th>
	<th>Participants</th>
  </tr>

<% @conferences.each do |conference| %>
  <tr>
    <td><%= conference.name %></td>
    <td><%= conference.begin.strftime("%d - %B %Y")%></td>
    <td><%= conference.end.strftime("%d - %B %Y")%></td>
    <td><%= conference.location %></td>
	<td><%= image_tag conference.logo_url(:thumb).to_s %>  </td>
	<td><%= conference.id %></td>
	<td>
	<% conference.users.each do |user| %>
			<div>
				<%= user.name %><br /><br />
			</div>
		<% end %>
	</td>
	<td>
	<% conference.participants.each do |participant| %>
			<div>
				<%= participant.email %><br /><hr />
			</div>
		<% end %>
	</td>
    <td><%= link_to 'Show', conference %></td>
    <td><%= link_to 'Edit', edit_conference_path(conference) %></td>
    <td><%= link_to 'Destroy', conference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<h2>Import Conference</h2>

<%= form_tag import_conferences_path, multipart: true do %>
  <%= file_field_tag :file %><br /><br />
  <%= submit_tag "Import" %>
<% end %>

<br />
