<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :abstract %><br />
    <%= f.text_field :abstract %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
  <%= collection_select(:event, :block_id, @blocks, :id, :name, {:prompt => false })  %>
  
  <% @lecturers.each do |lecturer| %>
	<div>
		<%= check_box_tag "event[lecturer_ids][]", lecturer.id, @event.lecturers.include?(lecturer) %>
		<%= lecturer.name %>
	</div>
  <% end %>
  
  
<% end %>
