<h1>Listing events</h1>

<%= link_to 'New Event', new_event_path %><br />
<%= link_to 'Conferences', conferences_path %>
<%= link_to 'Blocks', blocks_path %>
<%= link_to 'Lecturers', lecturers_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Abstract</th>
    <th>Lecturers</th>
    <th>Block</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.abstract %></td>
	<td>
		<% event.lecturers.each do |lecturer| %>
			<div>
				<%= lecturer.name %><br>
			</div>
		<% end %>
	</td>
	<td>
			<div>
				<%= event.block.name %><br>
			</div>
	
	</td>
	
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
