<h1>Listing events</h1>

<%= link_to 'New Event', new_event_path %><br />
<%= link_to 'Conferences', conferences_path %>
<%= link_to 'Blocks', blocks_path %>
<%= link_to 'Lecturers', lecturers_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Abstract</th>
    <th>Lecturers</th>
    <th>Block</th>
	<th>Paper</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.abstract %></td>
	<td>
		<% event.lecturers.each do |lecturer| %>
			<div>
				<%= lecturer.name %><br>
			</div>
		<% end %>
	</td>
	
	<td>
	<% if !event.block.nil? %>
			<div>
				<%= event.block.name %><br>
			</div>
		<% end %>
	</td>

	<td>
		<% if event.file?%>
		<%= link_to 'Download paper', :action => :download_paper, :id => event.id %><br />
		<%= event.file.filename %><br />
		File type: <%= event.file.file.extension.downcase %>;<br />
		File size: <%= event.file.file.size/1000%> kbs;<br />
	<% else %>
		No paper available
	<% end %>
	
	
	</td>
	
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
