<!DOCTYPE html>
<html>
<head>
  <title>Conference Buddy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">
 <div id="top">
	<div class="image">
	<%= link_to "", root_url, :class=>"fill-div" %>
	</div>
    <h2>Conference Buddy</h2>
	<% #if !current_user.nil? %>
	<% #if current_user.email != "admin@cb.com" %>
    <div id="menu">
      <ul>
        <li><%= link_to "Users", users_path %></li>
		<li><%= link_to "Conferences", conferences_path %></li>
        <li><%= link_to "Blocks", blocks_path %></li>
		<li><%= link_to "Tracks", tracks_path %></li>
        <li><%= link_to "Events", events_path %></li>
		<li><%= link_to "Lecturers", lecturers_path %></li>
        <li><%= link_to "Posters", posters_path %></li>
		<li><%= link_to "News", news_index_path %></li>
      </ul>
    </div>
	<% #end %>
	<% #end %>
  </div>

	<div id="content">
	<%= yield %>
	</div>
	 <div id="clear"></div>
</div>
<div id="footer">
    <p><b>Projecto Integrador 2012/2013</b></p>
  </div>
</body>
</html>
